{% extends 'main/base.html' %}
{% load static %}

 {% block content %}



 <div class="row mt-5">
<div class="color-continer col col-md-6 order-3 order-md-2 justify-content-center">

  <img class="color-img" src=" {% static 'images/colors.jpg'%}" />
 </div>
</div>

 <div class="row mt-5">
 <div class="col col-md-6 order-2 order-md-2 justify-content-center flex-column d-flex  ">
  <dive class="overly">
  <p>Colors in Saudi Arabia</p>
  </div>
 
 </div>




<div class="row mt-5">
<div class="col3 col-md-4 order-1 order-md-1 flex-column ">

   <img class="saudi-colors-img" src=" {% static 'images/grapes.jpeg'%}" />
 </div>
<div class="col col-md-8 order-2 order-md-2 justify-content-center flex-column d-flex  ">
  <dive class="about-saudi-colors">
 
 <h2>Colors and fine art</h2>
 <p> Inherited folk arts give the Kingdom a kind of <br>exquisite decoration that takes the form <br>of paintings representing all regions. These are<br> the fine arts that enriched the Kingdom's heritage<br> and gave it a touch of pleasure and a <br>charm of attraction.
 And the colors used </p>
 <hr>
 </div>
 
 </div>
 
 </div>
<hr>
 
 <!--lavender color card-->
 <div class="row mt-5">
<div class=" flip-color col col-md-6 order-3 order-md-2 justify-content-center">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static 'images/lavendercolor.webp'%}" alt="Avatar" style="width:900px;height:500px;">
    </div>
    <div class="flip-card-back">
    <div class="lavender-flip">
    <div class="color-info">
        <h1>This color takes its name from lavender flowers</h1>
        <p>It was extracted the color violet from a snail</p>
        <p>Used in royal reception carpets</p>
      </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>

 

<div class="row mt-5">
<div class="col3 col-md-4 order-1 order-md-1 flex-column ">

   <img class="lavender-img" src=" {% static 'images/lavender.png'%}" />
 </div>
<div class="col col-md-8 order-2 order-md-2 justify-content-center flex-column d-flex  ">
  <dive class="about-lav">
 
 <h2>Why Lavender ?</h2>
 <p><br>The Kingdom's plants and flowers are used in daily life: in food,<br> traditional crafts, such as the miswak and khoos, and even<br> in perfumes or drinks that are presented to guests upon arrival.<br> A symbol of Saudi identity and hospitality, lavender will now be<br> 
 the color of ceremonial carpets that will be rolled out with pride<br> to welcome our guests to the Kingdom- a natural extension of<br> Saudi Arabia's hospitality.</p>
 
 <p> <br>Lavender also provides a splendid contrast with the forest green <br>color of our national flag, creating <br>a beautiful and welcoming spectacle  <br>for guests to our country. </p>
 </div>
 
 </div>
 
 </div>





<div class="row mt-5">
<div class="col3 col-md-4 order-1 order-md-1 flex-column  ">

   <img class="saudi-colors-img-two" src=" {% static 'images/Alqat.jpeg'%}" />
 </div>
<div class="col col-md-8 order-2 order-md-2 justify-content-center flex-column d-flex  ">
  <dive class="about-saudi-colors">
 
 <h2>Colors and heritage</h2>
 <p> Some regions are famous for extracting and using certain<br> colors in textiles and engravings, including<br> Al-Qat Al-Asiri, Al-Sadu, and plaster inscriptions. </p>
 <hr>
 </div>
 
 </div>
 
 </div>


<div class="row mt-5">
<div class="colors_box">
<div class="col col-md-6 order-1 order-md-2 justify-content-center">
<div class="cardspace-two flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src=" {% static 'images/blue.webp'%}" alt="Avatar" style="width:900px;height:500px;">
    </div>
    <div class="flip-card-back">
    <div class="blue-flip">
    <div class="color-info">
      <h1>Blue</h1>
      <p> Extracted the color from white acacia and blue arsenic</p>
      <p>Used in Alqatt Alasiri</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class=" col3 col-md-6 order-1 order-md-1 flex-column ">

 <div class=" cardspace flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src=" {% static 'images/yellow.jpeg'%}" alt="Avatar" style="width:900px;height:500px;">
    </div>
    <div class="flip-card-back">
    <div class="yellow-flip">
    <div class="color-info-y">
      <h1>Yellow</h1>
      <p> Extracted the color from safflower (Carthamus tinctorius) and flower petals.</p>
      <p>Used in Alqatt Alasiri</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>




</div>
 </div>



<div class="row mt-5">
<div class="colors_box">
<div class="col col-md-6 order-1 order-md-2 justify-content-center">
<div class="cardspace-two flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src=" {% static 'images/balck.png'%}"  alt="Avatar" style="width:900px;height:500px;">
    </div>
    <div class="flip-card-back">
    <div class="black-flip">
    <div class="color-info">
        <h1>Black</h1>
      <p> Extracted the color from a mixture of (stove charcoal) with black gum added</p>
      <p>Used in Alqatt Alasiri and AlSadu</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class=" col3 col-md-6 order-1 order-md-1 flex-column ">

 <div class=" cardspace flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src=" {% static 'images/red.webp'%}"  alt="Avatar" style="width:900px;height:500px;">
    </div>
    <div class="flip-card-back">
    <div class="red-flip">
    <div class="color-info">
        <h1>Red</h1>
      <p> Extracted the color from Hassan and Murr, carefully crushed fried rice.</p>
      <p>Used in Alqatt Alasiri and AlSadu</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>




</div>
 </div>



 <div class="row mt-5">
 <div class=" flip-color col col-md-6 order-3 order-md-2 justify-content-center">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static 'images/green.png'%}" alt="Avatar" style="width:900px;height:500px;">
    </div>
    <div class="flip-card-back">
    <div class="grean-flip">
    <div class="color-info">
      <h1>Green</h1>
      <p>Extracted the color from white acacia and green arsenic. </p>
      <p>Used in  Alqatt Alasiri ,Plaster decorations and Our country's flag </p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

 

    {% endblock %}



