{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid ">
  <div class="">

    <!-- For demo purpose -->
    
 <div class="row mt-5">
<div class="color-continer col col-md-12 order-3 order-md-2 justify-content-center">

  <img class="gallery-img" src=" {% static 'images/gallery.jpg'%}" />
 </div>
</div>

 <div class="row mt-5">
 <div class="col col-md-6 order-2 order-md-2 justify-content-center flex-column d-flex  ">
  <dive class="overly">
  <p>Saudi Paintings Gallery</p>
  </div>
 
 </div>
    <!-- End -->

    <div class="row mt-5">
      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup1" data-bs-toggle="modal"><img class="l" src=" {% static 'images/abdualrahman.jpeg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Abdulrahman AlSuleiman</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup2" data-bs-toggle="modal"><img class="l" src=" {% static 'images/mona.webp'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Mona Al-Subaie</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>

      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup3" data-bs-toggle="modal"><img class="l" src=" {% static 'images/mohammed.jpeg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Muhammad Al-Saleem</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
      
    <div class="row mt-5">
      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup4" data-bs-toggle="modal"><img class="l" src=" {% static 'images/mariam.jpeg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Maryam Al-Hazzazi</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup5" data-bs-toggle="modal"><img class="l" src=" {% static 'images/luluwah.jpg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Lulwa Al-Hamoud</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup6" data-bs-toggle="modal"><img class="l" src=" {% static 'images/ab.jpeg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Abdulrahman AlSuleiman</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    <div class="row mt-5 mb-5">
      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup7" data-bs-toggle="modal"><img class="l" src=" {% static 'images/ali.jpeg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Ali Al-Raziza</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup8" data-bs-toggle="modal"><img class="l" src=" {% static 'images/fahd.jpeg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Fahd Al-Rubaiq</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col col-lg-4 col-md-4 mb-4">
        <div class="gallery-item bg-white rounded shadow-sm " data-bs-target="#popup9" data-bs-toggle="modal"><img class="l" src=" {% static 'images/lulu.jpg'%}" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="artest-name"> <p class=" text-dark">Lulwa Al-Hamoud</p></h5>
            <div class="d-flex align-items-center justify-content-between rounded-pill px-1 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>

  <!-- Popup images modals -->
	<div class="modal fade" id="popup1">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 1" src=" {% static 'images/abdualrahman.jpeg'%}"></div>
		</div>
	</div>

  <div class="modal fade" id="popup2">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 2" src=" {% static 'images/mona.webp'%}"></div>
		</div>
	</div>

  <div class="modal fade" id="popup3">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 3" src=" {% static 'images/mohammed.jpeg'%}"></div>
		</div>
	</div>


  <div class="modal fade" id="popup4">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 4" src=" {% static 'images/mariam.jpeg'%}"></div>
		</div>
	</div>

  <div class="modal fade" id="popup5">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 5" src=" {% static 'images/luluwah.jpg'%}"></div>
		</div>
	</div>

  <div class="modal fade" id="popup6">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 6" src=" {% static 'images/ab.jpeg'%}"></div>
		</div>
	</div>

  <div class="modal fade" id="popup7">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 7" src=" {% static 'images/ali.jpeg'%}"></div>
		</div>
	</div>


  <div class="modal fade" id="popup8">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 8" src=" {% static 'images/fahd.jpeg'%}"></div>
		</div>
	</div>

  <div class="modal fade" id="popup9">
		<div class="modal-dialog">
			<div class="modal-content "><img class="popupimg" alt="Image 9" src=" {% static 'images/lulu.jpg'%}"></div>
		</div>
	</div>

    {% endblock %}